<!doctype html>
    
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/leaflet/leaflet.css') }}"/>
    <script src="{{ url_for('static', filename='scripts/leaflet/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/jquery-3.6.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/dist/MarkerCluster.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/dist/MarkerCluster.Default.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
</head>

<body>
    
    {% block content %} {% endblock %}

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
