{% extends 'base.html' %}

{% block content %}
    <style>

        .leaflet-popup-close-button {
            display: none;
        }

        html, p, .table {
            font-size: 14px;
        }

        textarea {
            font-size: 14px;
            width: 100%;
            height: 60px;
        }

        .popupCustom .leaflet-popup-tip,
        .leaflet-popup-content-wrapper {
            /*padding: 0px;*/
            text-align: center;
            /*box-shadow: none;*/
            /*background: rgba(0, 0, 0, 0);*/
            /*color: #000000;*/
            /*border-radius: 0px;*/
        }

        .leaflet-popup-tip {
            /*background: transparent;*/
            border: none;
            box-shadow: none;
        }


    </style>
    
    <div class="container">
        <div class="container row">
                <div class="col-7">
                    <div>
                        <div>
                            <h3>Система мониторинга климатических параметров</h3>

                            <p class="text-muted">Проект Интернета вещей (IoT) для сбора, обработки, хранения и отображения (на карте) показаний датчиков</p>

                        </div>
                        <div>
                            <b>1. Получение показаний c датчиков</b> 

                            <p class="text-muted">Функция возвращает данные в формате GeoJSON</p>
                                                    <p>
                              <a class="btn btn-primary btn-sm" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Формат возвращаемых данных GeoJSON
                              </a>
                            </p>
                            <div class="collapse" id="collapseExample">
                              <div class="card card-body">
                                <code>
                                    { "type": "FeatureCollection", <br>

                                    &nbsp;&nbsp;"features": [<br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;{<br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<b>type</b>": "Feature",<br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<b>geometry</b>": <br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{<br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"type": "Point",<br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"coordinates": [0.0, 0.0]<br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<b>properties</b>": <br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{<br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"mac": "DEVICE_MAC", // уникальный для проекта серийный номер прибора;<br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"name": "DEVICE NAME", // название прибора в кодировке UTF-8;<br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"temperature": 12.34, // показание датчика;<br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"humidity": 12.34 // leaflet popup<br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; // прочие свойства датчика;<br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;},<br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;{<br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;// прочие приборы<br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;}<br>

                                    &nbsp;&nbsp;]<br>

                                    }
                                </code>
                              </div>
                            </div>
                            <b>URL: </b><span class="text-danger" style="background-color: #ffddee;">/json </span>

                            <p><b>Пример: </b><a href="{{ url_for('json') }}">{{ url_for('json', _external=True) }}</a></p>
            
                            <p>
                                <b>Результат запроса</b>
                                <textarea id="message" name="message"></textarea>
                            </p>
                        </div>
                                                <div>
                            <b>2. Передача показаний по протоколу HTTP POST</b> 

                            <p class="text-muted">Отправка JSON сообщения в MQTT топик</p>
                                                    
                            <b>URL: </b><span class="text-danger" style="background-color: #ffddee;">/publish</span>

                            <p><b>Пример JSON: </b>{"topic": "/flask/mqtt", "msg": "hello"}</p>
                        </div>
                    </div>                              
                </div>

                <div class="col-5">
                    <div id="map" style="height: 400px; width: 100%;"></div>
                </div>

        </div>
    </div>
   
    <script src="{{url_for('static', filename='scripts/dist/leaflet.markercluster-src.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/maps.js')}}"></script>  
{% endblock %}


